.home-slider {
    width: 100%;
    position: relative;
}

.home-slider h1 {
    color: white;
}

.home-slider p {
    color: white;
}

.hero-banner {
    background-image: linear-gradient(270deg, #82CDBF 0%, #0079C1 100%), url(../../imgs/award-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-banner h2 {
    color: white;
}